form {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    cursor: pointer;
    padding: 5px;
    margin-right: 15px;
    border-radius: 4px;
    border-color: blue;
    background-color: yellow;
}

button {

    padding: 10px;
    background-color: yellow;
    border-color: blue;
    border-radius: 4px;
}

button:hover {
    background-color: red;
    border-color: black;
    color: white;
}

.gallery,
.info {
    display: flex;
    flex-wrap: wrap;
}

.gallery {
    margin-left: -20px;
    padding-top: 60px;
    justify-content: center;
}

.gallery__link {
    margin-top: 20px;
    margin-left: 20px;
    min-width: 320px;
    flex-basis: calc((100% - 80px) / 4);
    border: 1px solid blue;
    border-radius: 5px;
    overflow: hidden;
    transition: all 250ms;
    background-color: rgb(228, 228, 181);
}

.gallery__link:hover,
.gallery__link:focus {
    transform: scale(0.95);
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gallery-item__img {
    display: block;
    height: 300 px;
    object-fit: cover;
}

.info {
    padding: 10px;
    justify-content: space-around;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blue;
}

.info-item:not(:first-child) {
    margin-left: 5px;
}

.btn-load-more.is-hidden {
    display: none;
}

.btn-load-more {
    display: block;
    margin: 25px auto 0 auto;
    padding: 8px 20px;
    border-color: blue;
    border-radius: 5px;
    color: blue;
    cursor: pointer;
}